.Column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textPrimary {
    font-style: normal;
    font-weight: 600;
    font-size: 0.65rem;
    margin: 0;

    color: #C4C4C4;
}

.textSecondary {
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    margin: 0;

    color: #FFFFFF;
}